/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500);
 body {
  padding-top: 80px;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}
/* Hide for mobile, show later */

#id {
  overflow-x: scroll;
}
#axla-img {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, "Raleway", sans-serif;
}
/*
 * Main content
 */

.main {
  padding: 20px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
body {
  font-weight: 300;
}
@media (min-device-pixel-ratio: 2) {
/* nill */
}
p {
  font-size: 14pt;

}
@media (max-width: 512px) {
  #axla-img {
    height: auto;
    width: 100%;
  }
  ul.list {
    list-style-type: none;
    width: 100%;
    padding-left: 0px;
    font-size: 1em;
  }
  ul.list li {
    font-size: 1em;
    padding-left: 0px;
    float: left;
    display: inline;
    width: 50%;
  }
}
@media (min-width: 512px) {
  #axla-img {
    height: auto;
    width: 100%;
  }
  ul.list {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
    font-size: 1em;
  }
  ul.list li {
    font-size: 1em;
    padding-left: 0px;
    float: left;
    display: inline;
    width: 33.33%;
  }
}
@media (min-width: 768px) {
  #axla-img {
    height: 60vh;
    width: auto;
  }
  ul.list {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
    font-size: 1em;
  }
  ul.list li {
    font-size: 1em;
    padding-left: 0px;
    float: left;
    display: inline;
    width: 25%;
  }
}
@media (min-width: 1024px) {
  ul.list {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
    font-size: 1em;
  }
  ul.list li {
    font-size: 1em;
    padding-left: 0px;
    float: left;
    display: inline;
    width: 20%;
  }
}
}
#iconRequestList {
  list-style-type: decimal;
}

@media (min-width: 768px) { /* Big */
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
    background-color: transparent !important;
  }

  #top-navbar .active {
    background-color: transparent !important;
    border-color: #5093DC;
  }

  .navbar-default {
    background-color: rgba(255,255,255,0.8);
    border-color: transparent;
  }

  .navbar-default .navbar-nav > li > a {
    color: rgba(0,0,0,0.5);
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #0078ff;
    background-color: transparent;
  }

  } /* Ends Here */

@media (max-width: 767px) { /* Small */
  .navbar-nav {
    text-align: center;
  }

  .navbar-default {
    background-color: rgba(0,0,0,0.7);
    border-color: transparent;
  }

  .navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,0.5);
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: rgba(255,255,255,0.8);
    background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #333;
  }

  } /* Ends Here */

#light {
  font-weight: 300;
}
#axla-jumbo {
  background-color: transparent;
}
#nav-logo {
  height: 100%;
  width: auto;
}
#shotsByPlayerId {
  list-style-type: none;
  padding-left: 10px;
}
.imageHolder {
  position: relative;
  padding-bottom: 10px;
  margin-left: -15px;
  margin-right: 15px;
}
.imageHolder .caption {
  display: none;
}
.imageHolder:hover .caption {
  display: initial;
  font-size: 20pt;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  opacity: 0.75;
  font-weight: 300;
}

.imageHolder .captionSmall {
  display: none;
}

.imageHolder:hover .captionSmall {
  display: initial;
  font-size: 12pt;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0.75;
  font-weight: 300;


}
.title {
  color: #5093DC;
  font-weight: 200;
}
#aboutText {
  font-size: 18px;
  font-weight: 200;
}

#dribbbleShotsHome {
  list-style-type: none;
}

.navbar {
  font-weight: 300;
  font-size: 16pt;
}
