body {
    padding-top: 80px;
    font-family: -apple-system, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4 {
    font-family: -apple-system, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, body {
    font-weight: 300;
}
p {
    font-size: 14pt;
}
#light {
    font-weight: 300;
}
.title {
    color: #5093DC;
    font-weight: 200;
}
.dribbbleShots {
    padding: 0;
    list-style-type: none;
}
.shot {
    margin: 20px;
    transition: all .3s ease-in-out;
}
.shot:hover, .shot:focus, .shot:active {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    transform: scale(1.08);
}
.navbar {
    font-weight: 300;
    font-size: 16pt;
    -webkit-backdrop-filter: blur(5px);
}
.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
    background-color: transparent !important;
}
#top-navbar .active {
    background-color: transparent !important;
    border-color: #5093DC;
}
.navbar-default {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #0078ff;
    background-color: transparent;
}
